<div class="container col-12 col-md-8">
  <h2><%= t('.edit')%>: <%= @badge.title %></h2>
</div>
<div class="container col-12 col-md-8 border border-info">
  <%= render 'form' %>
  <%= link_to t('item.link.back'), admin_badges_path %>
</div>
