<tr>
  <td><%= link_to gist.question.body[0...25], admin_question_path(gist.question) %></td>
  <td><%= link_to gist.gist_url.delete_prefix('https://gist.github.com/'), gist.gist_url, target: '_blank' %></td>
  <td><%= gist.user.email %></td>
</tr>