<p>
  <%= current_year %>
  Dmitriy Zaguta
  <%= github_url('zdvbind', 'TestGuru') %>
</p>
<p>
  <%= link_to 'Training project in online-school Thinknetika', 'https://thinknetica.com/', target: '_blank' %>
</p>