<p>
  <%= current_year %>
  Dmitriy Zaguta
  <%= link_to 'TestGuru', 'https://github.com/zdvbind/TestGuru', target: '_blank' %>
</p>
<p>
  <%= link_to 'Training project in online-school Thinknetika', 'https://thinknetica.com/', target: '_blank' %>
</p>