<li>
    <%= answer.body %><br>
    <%= link_to t('item.link.show'), admin_answer_path(answer) %> |
    <%= link_to t('item.link.edit'), edit_admin_answer_path(answer) %> |
    <%= link_to t('item.link.delete'),
                admin_answer_path(answer),
              method: :delete,
              data: { confirm: t('item.popup.confirm') }%>
</li>