<tr>
  <td><%= question.body %></td>
  <td><%= link_to t('item.link.show'), admin_question_path(question) %></td>
  <td><%= link_to t('item.link.edit'), edit_admin_question_path(question) %></td>
  <td>
    <%= link_to t('item.link.delete'),
                admin_question_path(question),
                method: :delete,
                data: { confirm: t('item.popup.confirm') }%>
  </td>
</tr>
